.container{
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-rows: 5% 1fr;
    grid-template-areas: "sidebar header"
                        "sidebar content";
    height: 100vh;
}
.sidebar{
    grid-area:sidebar;
    background: blue;
}
.header{
    grid-area: header;
    background: antiquewhite;
}
.content{
    background: cadetblue;
    grid-area: content
}
.sidebar_btn_container{
    display: flex;
    flex-direction: column;
    height: 20%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px;
}
.sidebar_btn{

}